<template>
  <div class="activities-bar_item" @click="clickOnSkill">
    <div
      class="activities-bar_item-top"
      :class="{
        prepare: activityProgressCount < 100,
      }"
    >
      <img :src="skill.icon" class="activities-bar_item-attack" alt="" />
      <div
        v-if="activityProgressCount !== 100"
        class="activities-bar_item-attack_counter"
      >
        {{ activityProgressCount }}
      </div>
    </div>
    <el-progress
      class="activities-progress"
      :text-inside="false"
      :show-text="false"
      :percentage="activityProgressCount"
    ></el-progress>
  </div>
</template>

<script>
import "./scss/activities-bar.scss";

export default {
  name: "SkillItem",
  props: {
    skill: {
      required: true,
      type: Object,
    },
  },
  methods: {
    clickOnSkill() {
      // this.clickedSkillName = skill.name;
      if (this.activityProgressCount === 100) {
        this.emitParentDef(this.skill);
        this.activityProgressCount = 0;
        for (let i = 1; i < 101; i++) {
          setTimeout(() => {
            this.activityProgressCount += 1;
          }, i * this.skill.cooldown);
        }
      }
    },
    emitParentDef(skill) {
      this.$emit("messageFromChild", skill);
    },
  },
  data: () => ({
    activityProgressCount: 100,
  }),
};
</script>
